<div class="cart">
	<h3>cart</h3>

	<div class="cart-item" *ngFor="let item of items; index as pos">
		<p>
			{{ item.name }} <span>{{ item.price | currency }}</span>
		</p>
		<label>quantity: <input type="number" value="item.quantity" /></label>
		<button class="material-icons" (click)="removeItem(pos)">
			delete_outline
		</button>
	</div>

	<a [routerLink]="['/shipping']">shipping costs</a>
	<div class="actions">
		<button (click)="clearCart()">empty cart</button>
		<button class="success" (click)="makeBuy()">confirm buy</button>
	</div>
</div>
