.cart {
	width: 100%;
	max-width: 50vw;
	.cart-item {
		display: grid;
		grid-template-columns: 2.5fr 1fr 1fr;
		column-gap: 12px;
	}
	.actions {
		margin-top: 1rem;
		display: flex;
		justify-content: space-between;
		button {
			margin: 0 8px;
			&:first-child {
				margin-left: 0;
			}
		}
	}
}
