<div class="products-list">
	<h2>products:</h2>

	<div *ngIf="products?.length >= 0; else elseBlock">
		<div class="product" *ngFor="let product of products">
			<a
				[title]="product.name + ' details'"
				[routerLink]="['/products', product.id]"
			>
				<h3>{{ product.name }}</h3>
			</a>
			<label
				>quantity: <input type="number" (ngModelChange)="(quantity)"
			/></label>
			<p *ngIf="product.description">{{ product.description }}</p>
			<div class="actions">
				<button (click)="share()">
					<i class="material-icons">share</i>
					share
				</button>
				<button (click)="addToCart(product)">
					<i class="material-icons">plus_one</i>
					add to cart
				</button>
				<app-product-alerts
					[product]="product"
					(notify)="onNotify()"
				></app-product-alerts>
			</div>
		</div>
	</div>

	<ng-template #elseBlock>
		<div class="no-data">
			<img src="../../assets/fracaso.svg" alt="" />
		</div>
	</ng-template>
</div>
